@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

html {
  box-sizing: border-box;
}
*,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  background-color: #2b2b22;
}

.wrapper {
  width: 100%;
  padding: 30px;
}

.container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.user,
.fav-users {
  border-radius: 74px 0px 74px 0px;
  min-width: 400px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top, #dbdcd7 0%, #dddcd7 24%, #e2c9cc 30%, #e7627d 46%, #b8235a 59%, #801357 71%, #3d1635 84%, #1c1a27 100%);
}

.user__wrap {
  background-color: #dcdce0;
  border-radius: 74px 0px 74px 0px;
  width: 100%;
  padding: 10px;
}

.user__img {
  border-radius: 50%;
}

.user__data, 
.user__data > li {
  pointer-events: none;
}

.fav-users {
  min-width: 200px;
  max-width: 350px;
  flex-direction: column;
}

.fav-users__wrapper{
  background-color: #dcdce0;
  border-radius: 74px 0px 74px 0px;
  width: 100%;
  padding: 10px;
}

.fav-users__title {
  text-align: center;
}

.fav-users__list {
  margin: 0;
  padding: 10px;

}
.fav-users__username {
  list-style-type: none;
}

.fav-users__username > span {
  padding: 0 5px;
  font-size: 20px;
  margin-right: 10px;
  background: linear-gradient(to top, #e7627d 0%, #e7627d 24%, #b8235a 49%, #801357 71%, #3d1635 84%, #1c1a27 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
